<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body class="bg">
    <main>
      <section class="imagens">
        <div>
          <a class="imagens__botao btn1" href="/view/reducaoMortalidade.html">
            <div class="imagens__botao__numeracao">
              <span>1</span>
            </div>
            <div class="imagens__botao__conteudo">
              <span> Mortalidade<br />Infantil </span>
            </div>
          </a>
          <a class="imagens__botao btn2" href="/view/naoTransmissivel.html">
            <div class="imagens__botao__numeracao">
              <span> 3 </span>
            </div>

            <div class="imagens__botao__conteudo">
              <span> Doenças não<br />Transmissíveis </span>
            </div>
          </a>
        </div>

        <div>
          <a class="imagens__botao btn2" href="/view/transmissivel.html">
            <div class="imagens__botao__numeracao">
              <span> 2 </span>
            </div>

            <div class="imagens__botao__conteudo">
              <span> Doenças<br />Transmissíveis </span>
            </div>
          </a>
          <a class="imagens__botao btn2" href="/view/melhoriaSaude.html">
            <div class="imagens__botao__numeracao">
              <span> 4 </span>
            </div>

            <div class="imagens__botao__conteudo">
              <span> Melhoria<br />Saúde </span>
            </div>
          </a>
        </div>
      </section>

      <section class="sobreNos">
        <h3 class="sobreNos__subTitulo">Sobre Nós</h3>
        <h1 class="sobreNos__titulo">
          Estamos prontos<br />
          para mudar a saúde
        </h1>
        <br />
        <p class="sobreNos__paragrafo">
          Bem-vindo à <b>HarmonyHealth</b>, onde a nossa missão é impulsionar um
          mundo mais saudável e equilibrado para todos. Estabelecida com a visão
          de transformar os desafios globais de saúde em oportunidades de
          inovação, nos compremetos a alcançar as metas da ODS 3 e ir além
        </p>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
