<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body class="bg">
    <header>
      <!-- <nav class="cabecalho">
        <a href="tema1.html">Redução Mortalidade Infantil</a>
        <a href="tema2.html">Combate a doenças transmissíveis</a>
        <a href="tema3.html">Prevenção e tratamento de doenças não transmissíveis</a>
        <a href="tema4.html">Melhoria geral da Saúde</a>
      </nav> -->
    </header>
    <main>
      <section class="imagens">
        <div>
          <a class="imagens__botao btn1" href="./view/reducaoMortalidade.html">
            <div class="imagens__botao__numeracao">
              <span>1</span>
            </div>
            <div class="imagens__botao__conteudo">
              <span> Mortalidade<br />Infantil </span>
            </div>
          </a>
          <a class="imagens__botao btn2" href="./view/naoTransmissivel.html">
            <div class="imagens__botao__numeracao">
              <span> 3 </span>
            </div>

            <div class="imagens__botao__conteudo">
              <span> Doenças não<br />Transmissíveis </span>
            </div>
          </a>
        </div>

        <div>
          <a class="imagens__botao btn2" href="./view/transmissivel.html">
            <div class="imagens__botao__numeracao">
              <span> 2 </span>
            </div>

            <div class="imagens__botao__conteudo">
              <span> Doenças<br />Transmissíveis </span>
            </div>
          </a>
          <a class="imagens__botao btn2" href="./view/melhoriaSaude.html">
            <div class="imagens__botao__numeracao">
              <span> 4 </span>
            </div>

            <div class="imagens__botao__conteudo">
              <span> Melhoria<br />Saúde </span>
            </div>
          </a>
        </div>
      </section>

      <section class="sobreNos">
        <h3 class="sobreNos__subTitulo">Sobre Nós</h3>
        <h1 class="sobreNos__titulo">
          Estamos prontos<br />
          para mudar o mundo.
        </h1>
        <br />
        <p class="sobreNos__paragrafo">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
          similique iusto reprehenderit ipsum, minus eum eveniet cupiditate,
          harum molestias, modi magnam est doloremque at nulla ipsam culpa hic!
          Illo, hic? Architecto nostrum sequi voluptatum doloribus doloremque
          vel nam ex adipisci libero temporibus. Laudantium voluptas quisquam
          excepturi error vitae quas alias deleniti sunt ex! Aliquid doloribus
          quam voluptate esse quod dolorum!
        </p>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
