<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculadora de IMC Infantil</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/controller/reducaoMortalidade.js"></script>

    <style>
      .sobreNos {
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body class="bg">
    <main>
      <section class="botao__voltar">
        <a href="/view/index.html">
          <img src="/assets/left-arrow.svg" />
        </a>
      </section>
      <section class="sobreNos">
        <h1 class="sobreNos__titulo">Calculadora de IMC Infantil</h1>
        <input type="number" id="idade" placeholder="Idade (em anos) " class="sobreNos__input" />
        <br />
        <input type="number" id="peso" placeholder="Peso (em kg)" class="sobreNos__input" />
        <br />
        <input type="number" id="altura" placeholder="Altura (em metros)" class="sobreNos__input" />
        <br />
        <button onclick="calcularIMC()" class="sobreNos__botao">
          Calcular IMC
        </button>
        <p id="resultado"></p>
      </section>
    </main>
  </body>
</html>
