main {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f5f9;
    padding: 20px;

    * {
        font-size: 16px;
    }
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 900px;
}

.cabecalho {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    .voltar {
        width: fit-content;
        margin-bottom: 16px;
        text-decoration: none;
        color: inherit;
        padding: 8px 16px;
        border-radius: 16px;
        transition: 0.3s;
    }

        .voltar:hover {
            background-color: #eeeeee;
        }
}

.card-grid {
    overflow-y: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 440px);
    grid-gap: 20px;
}

.card {
    border-radius: 16px;
    width: 440px;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.3s;
    border: 1px solid oklch(.929 .013 255.508);

    .row1 {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .row1__header {
            display: flex;
            flex-direction: column;
        }

        .icone {
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #dbeafe;
            border-radius: 16px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    .dados {
        display: flex;
        gap: 16px;

        .dados-texto {
            display: flex;
            align-items: center;
            gap: 4px;
        }

        svg {
            height: 16px;
            width: 16px;
        }
    }

    button {
        border-radius: 16px;
        width: 100%;
        height: 50px;
        background-color: #2563eb;
        color: white;
        border: none;
    }
}

.card:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1000px) {
    .conteudo {
        max-width: 440px;
    }
    .card-grid {
        grid-template-columns: 100%;
    }

    .card {
        width: 100%;
        max-width: 440px;
    }
}

@media (max-width: 767px) {
    .card {
/*        width: 280px;*/
    }
}