* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;

    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }

    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    }

    html {
        position: relative;
        min-height: 100%;
    }

    body {
/*        display: flex;
        align-items: center;
        justify-content: center;*/
    }

    .form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
        color: var(--bs-secondary-color);
        text-align: end;
    }

    .form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
        text-align: start;
    }

    form {
        border: 1px solid #e3e3e3;
        border-radius: 24px;
        height: auto;
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 40px;

        label {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            input {
                padding: 4px 12px;
                width: 340px;
                height: 40px;
                background-color: #f3f3f5;
                border-radius: 7px;
                border: 1px solid grey;
                outline: none;
            }
        }

        #enviar {
            width: 100%;
            border: none;
            border-radius: 10px;
            height: 50px;
            margin-top: 24px;
            background-color: oklch(.546 .245 262.881);
            color: white;
            margin-bottom: 20px;
            text-decoration: none;
        }
    }
