@{
    ViewData["Title"] = "Home Page";

    string teste = "sladfsfsd";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<form>

    <img src="" />
    HybridFlow

    <label for="email">
        Email
        <input type="email" name="email" id="email" value="" />
    </label>
    <label for="senha">
        Senha
        <input type="password" name="senha" id="senha" value="" />
    </label>

    <input type="submit" name="name" value="entrar">

    <a href="~/Home/Agenda">Esqueci minha senha</a>
</form>