@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<script defer src="~/js/index.js"></script>
<form>

    <img src="" />
    HybridFlow

    <label for="email">
        Email
        <input type="email" name="email" id="email" value="" />
    </label>
    <label for="senha">
        Senha
        <input type="password" name="senha" id="senha" value="" />
    </label>

    <a href="~/Home/Agenda" id="enviar">Entrar</a>

    <a href="">Esqueci minha senha</a>
</form>