@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

table {
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 3px 3px 0 0;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {

    width: 100%;
    padding: 30px 0px;
    border: none;
    outline: none;
    font-size: 24px;
    text-align: center;
}

input[type="number"]:hover {

    transition: 0.2s;
    border-left: 7px solid grey;
}

button {
    width: 100%;
    padding: 16px 0px;
    background-color: #19A7CE;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

p {
    padding: 50px 0;
    background-color: white;
    text-align: center;
    font-size: 28px;
    color: black;
}

.resultado {
    background-color: black;
    padding: 5px 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
    color: white;
    font-size: 32px;
}