main {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.agenda {
    width: 1050px;
}

.agenda-header {
    width: 100%;
}

.agenda-container {
    max-width: 1050px;
    display: flex;
}

.day-card {
    height: 200px;
    width: 150px;
    border: 1px solid red;
}
