main {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f5f9;

    * {
        font-size: 16px;
    }
}

.agenda {
    padding: 20px;
    height: 100%;
    width: calc(100dvw * 0.9);
    max-width: 1220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    /*    border: 1px solid red;*/
}

.agenda-header {
    width: 100%;

    .titulo {
        display: flex;
        gap: 5px;
        font-size: 16px;
        font-weight: 700;
        color: oklch(.29 .14 264.503);
        /*        margin-bottom: 8px;*/
    }

    .subtitulo {
        font-size: 16px;
        font-weight: 400;
        color: oklch(.45 .05 261.204);
    }
}

.agenda-container {
    overflow-y: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}

.day-card {
    height: 200px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 1px solid oklch(.929 .013 255.508);
    border-radius: 16px;
    background-color: #fff;
    transition: box-shadow 0.3s;
    cursor: pointer;
}

    .day-card:hover {
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    }

.icone {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f5f9;
    border-radius: 7px;
}

a {
    width: fit-content;
    background-color: #2563eb;
    padding: 12px 24px;
    border-radius: 12px;
    color: #fff !important;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

    a:hover {
        background: #1d4ed8;
    }


/*Mobile*/
@media (max-width: 768px) {
    .agenda {
        align-items: center;
    }
    a {
        width: 100%;
        max-width: 280px;
    }
}
